version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: my-laravel-app
        container_name: laravel_app
        restart: unless-stopped
        volumes:
            - .:/var/www
        networks:
            - app-network

    db:
        image: mysql:8.0
        container_name: mysql_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root_password
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: laravel_password
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - app-network

    web:
        image: nginx:alpine
        container_name: nginx_web
        restart: unless-stopped
        ports:
            - "2009:80"
        volumes:
            - .:/var/www
            - ./default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    db_data:
